<<<<<<< HEAD
body
{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #000000;
    padding: 0 ;
}
.wrapper{
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #ffffff;
}
.head{
    display: flex;
    align-items: center;
    background-color: #000000;
    justify-content: space-between;
}
.logo{
    position: absolute;
    left: 80px;
    font-size: 25px;
}
.search{
    color: #515151;
    padding: 10px 20px;
}
.search input{
    width: 500px;
    background-color: #181818;
    border-color: #ffffff;
    border-radius:10px 0px 0px 10px ;
    padding: 5px;
}
.search i{
    margin-left:10px ;
    
}
.search button{
    background-color: #000;
    color: #afafaf;
    border-color: #ffffff;
    border-radius:0px 10px 10px 0px ;
    padding: 5px;
}
.h-right i{
    color: #afafaf;
}
.h-right button{
    border-radius: 100px;
    background-color: #000;
    margin-right: 30px;
    border-color: #e3e3e3 ;
    width: 35px;
    height: 30px;
}
.menu{
    background-color: #000;
    color: #ffffff;
    margin-left: 10px;
    width: 40px;
    border-color: #373737;
    border: none;
}
#leftMenu{
    background-color: #000;
    color: #ffffff;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #b3b2b2}
  
  .dropdown:hover .dropdown-content {
    display: block;
=======
body
{
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #000000;
    padding: 0 ;
}
.wrapper{
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #ffffff;
}
.head{
    display: flex;
    align-items: center;
    background-color: #000000;
    justify-content: space-between;
}
.logo{
    position: absolute;
    left: 80px;
    font-size: 25px;
}
.search{
    color: #515151;
    padding: 10px 20px;
}
.search input{
    width: 500px;
    background-color: #181818;
    border-color: #ffffff;
    border-radius:10px 0px 0px 10px ;
    padding: 5px;
}
.search i{
    margin-left:10px ;
    
}
.search button{
    background-color: #000;
    color: #afafaf;
    border-color: #ffffff;
    border-radius:0px 10px 10px 0px ;
    padding: 5px;
}
.h-right i{
    color: #afafaf;
}
.h-right button{
    border-radius: 100px;
    background-color: #000;
    margin-right: 30px;
    border-color: #e3e3e3 ;
    width: 35px;
    height: 30px;
}
.menu{
    background-color: #000;
    color: #ffffff;
    margin-left: 10px;
    width: 40px;
    border-color: #373737;
    border: none;
}
#leftMenu{
    background-color: #000;
    color: #ffffff;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #b3b2b2}
  
  .dropdown:hover .dropdown-content {
    display: block;
>>>>>>> f8d5c09f787fb3c69ac173f304f0f2f9858da2fa
  }